#container {
    -fx-background-color: #73b626;
}

#header {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 5px;
    -fx-padding: 10px;
}

#addchoice {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-border-color: #507a1b;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
}

#mealform, #sleepform, #exerciseform {
    -fx-padding: 5px;
}

