.root {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: cover;
}

#loginform {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-border-color: #3fb4cd;
    -fx-border-width: 3px;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
}

#txtlogin {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: #000000;
}

#txtregister {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: #000000;
}